.custom-command-card {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #DDDEE1;
    border-radius: 0;
    padding: 0px;
}

.custom-card-image {
    width: 100%;
    height: 93.27px;
    object-fit: cover;
    border-radius: 0;
}

.custom-card-body {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.field-group {
    border-bottom: 1px solid #DDDEE1;
}

.field-label {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    background: #F0F1F2;
    border: 1px solid #DDDEE1;
    border-left-style: none;
    border-right-style: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin: 0;
}

.field-value {
    width: 100%;
    height: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin: 0;
}

.custom-card-btn {
    width: 100%;
    height: 35px;
    border-radius: 0;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-btn {
    background: rgb(0,50,98);
    color: #fff;
    border-bottom: 1px solid #DDDEE1;
    text-decoration: underline;
}

.my-btn:hover {
    background: rgb(51,91,129);
    color: #fff;
}