.custom-navbar {
  background: #FFFFFF;
  border-bottom: 1px solid #DDDEE1;
  padding: 0.5rem 0;
  width: 100%;
}

.navbar-container {
  padding: 0 1.5%;
}

.custom-brand {
  padding: 0;
}

.logo-image {
  height: 24px;
}