@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}